---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt", "eyecatch"] });

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<div class="wrapper">
			<Header />
			<main class="main">
				<div class="main__inner">
					<section class="section">
						<ul class="list">
							{
								posts.map((post) => (
									<li class="list__item">
										<a href={`/blog/${post.id}`}>
										<div class="eyecatch">
											<img src={post.eyecatch?.url ?? ''} alt=""/>
										</div>
										<div class="title__wrapper">
											<time datetime={post.publishedAt} class="time">
												<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#747474"><path d="M232-132q-26 0-43-17t-17-43v-496q0-26 17-43t43-17h80v-92h32v92h276v-92h28v92h80q26 0 43 17t17 43v200h-28v-40H200v336q0 12 10 22t22 10h240v28H232Zm-32-424h560v-132q0-12-10-22t-22-10H232q-12 0-22 10t-10 22v132Zm0 0v-164 164Zm372 424v-78l211-210q5-5 10-6.5t10-1.5q5 0 10.5 2t9.5 6l37 38q4 5 6 10t2 10q0 5-2 10t-6 10L650-132h-78Zm268-230-37-38 37 38ZM600-160h38l144-144-19-19-18-20-145 145v38Zm163-163-18-20 37 39-19-19Z"/></svg>
												{new Date(post.publishedAt).toLocaleDateString('ja-JP', {year: 'numeric', month: 'short', day: 'numeric',})}
											</time>
											<h2 class="title">{post.title}</h2>
										</div>
										</a>
									</li>
								))
							}
						</ul>
		
					</section>
	
				</div>
			</main>
			<Footer />
		</div>
	</body>
</html>

<style lang="scss">
	body {
		background-image: url("/images/common/bg.jpg");
		background-repeat: repeat-y;
		background-size: 100%;
	}

	img {
		vertical-align: top;
	}

	.wrapper {
		display: flex;
		min-height: 100vh;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	.main {
		width: 900px;
		height: 100vh;
		position: relative;
		overflow: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		@media (max-width: 768px) {
			margin-top: 50px;
			width: 100%;
			height: auto;
		}

		&::-webkit-scrollbar {
			display:none;
		}
		
		&__inner {
			padding-top: 116px;
			padding-bottom: 100px;
			padding-inline: clamp(1.25rem, -3.365rem + 9.62vw, 6.25rem);
			position: relative;
			@media (max-width: 768px){
				padding-top: 50px;
				padding-bottom: 50px;
			}

			&::before {
				content: "";
				width: 100%;
				height: 100%;
				background-color: #fff;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.3;
				box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 0.08);
				z-index: -1;
			}
		}
	}

	.list {
		&__item {
			& + & {
				margin-top: 80px;
				@media (max-width: 768px) {
					margin-top: 40px;
				}
			}
		}
	}

	.eyecatch {
		border-radius: 20px 0 20px 0;
		overflow: hidden;
	}

	.title {
		&__wrapper {
			margin-top: 16px;
		}
		font-size: 22px;
		font-weight: 600;
	}

	.time {
		display: flex;
		color: #747474;
		gap: 5px;
		font-size: 15px;
	}



</style>
