---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

//microCMS呼び出し
import { getBlogs } from "../library/microcms";
const { contents: posts } = await getBlogs({ fields: ["id", "title", "publishedAt", "eyecatch"] });

---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="main">
			<div class="main__inner">
				<aside class="aside">
					<div class="intro">
						<div class="intro__textbox">
							<p>宇宙好きWebデザイナーの<br>個人ブログです。</p>
						</div>
						<div class="intro__image">
							<img src="/images/common/astronauts.png" alt="">
						</div>
					</div>
	
				</aside>
				<section class="section">
					<ul class="list">
						{
							posts.map((post) => (
								<li class="list__item">
									<a href={`/blog/${post.id}`}>
									<div class="title__wrapper">
										<time datetime={post.publishedAt}>
											{new Date(post.publishedAt).toLocaleDateString('ja-JP')}
										</time>
										<p class="title">{post.title}</p>
									</div>
									<div class="eyecatch">
										<img src={post.eyecatch?.url ?? ''} alt=""/>
									</div>
									</a>
								</li>
							))
						}
					</ul>
	
				</section>

			</div>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	body {
		max-width: 1400px;
		margin-inline: auto;
	}

	.main {
		&__inner {
			display: flex;
			margin-block: 10px;
		}

	}

	.aside {
		width: 300px;
		padding-top: 40px;
		// padding-right: 40px;
		border-right: 2px solid var(--black);
	}

	.section {
		flex: 1;
		padding-top: 40px;
		padding-left: 40px;

	}

	.list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;

		&__item {
			width: calc(50% - 20px);
			margin-bottom: 40px;
		}
	}

	.intro {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-items: center;


		&__textbox {
			display: inline-block;
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 2px solid var(--black);
			position: relative;

			&::before {
				content: "";
				width: 2px;
				height: 20px;
				background-color: var(--black);
				position: absolute;
				bottom: -20px;
				right: 45%;
				rotate: 30deg;

			}

		}

		&__image {
			max-width: 190px;
		}
	}

	.title {
		font-size: 22px;
		font-weight: 700;

		&__wrapper {
			padding-left: 16px;
			border-left: 6px solid var(--red);
		}
	}

	time {
		display: block;
	}

	.eyecatch {
		margin-top: 40px;
	}
</style>
